.logo {
  width: 80px;
  height: 80px;
}
footer {
  background-color: #1ea2ae;
}
header {
  background-color: #5465ff;
}
.chart {
  margin-left: 500px;
}
.table_description {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #9bb1ff;
}
.question {
  text-align: center;
  color: #5465ff;
}
.answer {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
#group-grid {
  column-count: 5;
  grid-row: 2;
}
