.logo {
  width: 80px;
  height: 80px;
}
footer {
  background-color: #1ea2ae;
}
header {
  background-color: #5465ff;
}
.chart {
  margin-left: 500px;
}
.table_description {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #9bb1ff;
}
.question {
  text-align: center;
  color: #5465ff;
  padding-bottom: 10px;
}
.answer {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
#group-grid {
  column-count: 5;
  grid-row: 2;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}
.title {
  font-size: 100px;
  color: #788bff;
  text-align: center;
  margin-bottom: 50px;
}
